.flexHorizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fh {
  @extend .flexHorizontal;
}

.myElCard {
  .myElCardTitle {
    @extend .flexHorizontal;
    .myElCardLeft {
      @extend .flexHorizontal;
    }
    .myElCardActions {
      @extend .flexHorizontal;
    }
  }
}
.myElTable {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.myElSelect {
  display: flex;
  align-items: flex-start;
}

.mySearch {
  display: flex;
  align-items: center;
  justify-content: center;
  :global {
    .el-form-item {
      margin-bottom: 0px;
    }
  }
}
.myTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

:global {
  .el-row {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
