.flexHorizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fh {
  @extend .flexHorizontal;
}

.elPagination {
  padding: 10px 0px;
}

.formContainer {
  position: relative;
  .formValidator {
    > :global(.el-input__inner) {
      border: 1px solid red;
    }
  }
  .formErrorMessage {
    line-height: 22px;
    font-size: 12px;
    color: red;
    position: absolute;
  }
}

.myElCard {
  .myElCardTitle {
    @extend .flexHorizontal;
    .myElCardLeft {
      @extend .flexHorizontal;
    }
    .myElCardActions {
      @extend .flexHorizontal;
    }
  }
}
.myElTable {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.myElSelect {
  width: 100%;
}

.mySearch {
  display: flex;
  align-items: center;
  justify-content: center;
  :global {
    .el-form-item {
      margin-bottom: 0px;
    }
  }
}
.myTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.myForm {
  :global {
    .el-form {
      display: flex;
      flex-wrap: wrap;
    }
    .el-form-item__label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
    }
    .el-form-item {
    }
  }
  .myFormButtons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:global {
  .el-row {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
